/*
PERSONALIZANDO O BOOTSTRAP
www.adrianosites.com.br 
*/

/* CLASSES NOVAS CRIADAS PARA O PROJETO */

#topo{

min-height: 100px;
background-color: #00837e;
color: #fff;
    
}

#rodape{
     
 min-height: 150px;
 background-color: #00837e;
 color: #fff;
    
}

.thumbnail{
    border-radius: 15px;
    box-shadow: 5px 5px 5px #adadad;
}

.btn{
    border-radius: 5px;
}

.btn-rosa{
    color: #FFFFFF;
    background-color: #2b542c;
    border-radius: 5px;
}

.btn-rosa:hover{
    color: #2aabd2;
}

.btn-geral{
    color: #FFFFFF;
    background-color: #204d74;
}

.btn-geral:hover{
    color: #FFFFFF;
    background-color: #1b6d85;
}

.preco{
    color: #c42768;
    font-weight: bold;
}

#conteudo{
    
   min-height: 450px; 
}

#lateral{
    
   border-right: 1px solid #adadad;
   height: 100%;
  }

  .transparente{
   opacity: 0.9;   
      
  }

.pagination>li>a, .pagination>li>span {
    color: #ffffff;
    background-color: #204d74;
}


/* CLASSES OVERRIDE DO BOOTSTRAP para personalização*/

/* navbar e menu navbar */
.navbar-inverse{
    border-radius: 0;
    
}


.navbar-inverse .navbar-nav > li > a{
    
  color: #fff;
  font-size: 16px;  
    
}
.navbar-inverse .navbar-nav > li > a:hover{
    
 background-color:  #032330;
 border-radius: 10px;
 color: #fff;
    
}

/* menu lateral com list group*/

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    
   background-color: #101010; 
    
}

a.list-group-item:hover{
    
    background-color: #262626;;
     color: #FFF;
     
    
}

a.list-group-item{
  
    border: 0;
    font-size: 16px;
}

.navbar-inverse {
    background-color: #053a4f;
    border-color: #080808;
}
.navbar-inverse:hover{
    background-color: #053a4f;
}

